body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

input,
textarea {
  font: inherit;
}

button {
  color: currentColor;
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

/* -----------HEADER----------- */

.header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-accent {
  color: #4d5ae5;
}

.header-nav {
  display: none;
}

.nav-list {}

.nav-link {}

.link-action {}

.header-contact {
  display: none;
}

.contacts-list {}

.contact-link {}

.menu-open {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 16px 0;
}

.menu-icon {
  width: 24px;
  height: 24px;
  fill: #2f2f37;
}

.main {}

/* -----------HERO----------- */

.hero {
  color: white;
  background-image:
    linear-gradient(180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 70%),
    url("../images/mobile/people-office-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 52px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  max-width: 216px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 48px;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------BENEFITS----------- */

.benefits {
  padding: 96px 16px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon-box {}

.icon-benefits {
  display: none;
}

.benefits-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.benefits-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: left;
}

/* -----------TEAM----------- */

.team {
  background-color: #f4f4fd;
}

.team .container {
  display: flex;
  padding: 96px 28px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-list-container {
  /* width: 264px;
      height: 428px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* .card-foto {} */

.team-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  gap: 8px;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 0;
}

/* .icon-item {} */

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #4d5ae5;
  transition: fill 250 cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------PORTFOLIO----------- */

.portfolio {
  padding: 96px 16px;
  display: flex;
  justify-content: center;
}

.portfolio .cintainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-list-container {
  max-width: 288px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-container:hover,
.portfolio-list-container:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-container:hover .hidden-text {
  transform: translateY(0);
}

.hidden-box {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 288px;
}

.portfolio-item-container:hover,
.portfolio-item-container:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* -----------FOOTER----------- */

.footer {
  padding: 96px 16px;
  display: flex;
  justify-content: center;
  background-color: #2e2f42;
  color: #fff;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  color: #f4f4fd;
  margin: 0;
}

.logo-accent {}

.footer-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.footer-media-title {}

.icon-footer {
  display: flex;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.subscribe-label {}

.subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: #31d0aa;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* -----------MODAL----------- */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  inset: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .cross-icon,
.modal-close-btn:focus .cross-icon {
  fill: #fff;
}

.cross-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field {}

.modal-form-field {}

.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-form {
  position: relative;
  outline: transparent;
}

.input-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus+.modal-icon {
  fill: #4d5ae5;
}

.modal-text {}

.modal-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.agree {}

.modal-check {}

.modal-check-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check:checked+.modal-check-label span {
  background-color: #4d5ae5;
  border: none;
  fill: #fff;
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree-icon {}

.agree-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.agree-link:hover,
.agree-link:focus {
  color: #404bbf;
}

.modal-button {
  display: block;
  align-items: center;
  margin: 24px auto 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

/* -----------MOBILE----------- */
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  inset: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {}

.mobile-menu-close-btn {}

.mobile-menu-close-btn-icon {}

.mobile-menu-list {}

.mobile-menu-link {}

.link-action {}

.mobile-menu-contact-container {}

.mobile-menu-contact {}

.mobile-menu-contacts-list {}

.mobile-menu-contact-link {}

.mobile-menu-icon-list {}

.mobile-menu-icon-item {}

.social-link {}

.icon {}